@model IEnumerable<TrainingTask.Models.StaffViewModel>
@{
    ViewData["Title"] = "Staff";
}
<h2>@ViewData["Title"]</h2>

<body>
    <div class="form-group">
        <a asp-action="CreateStaff" class="btn btn-default">Create</a>
    </div>
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Second Name</td>
            <td>Position</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Id</td>
        <td><a asp-action="ShowStaff" asp-controller="Staff" asp-route-id="@item.Id">@item.Name</a></td>
        <td>@item.Name</td>
        <td>@item.Surname</td>
        <td>@item.Position</td>
        <td><a asp-action="EditStaff" asp-controller="Staff" asp-route-id="@item.Id">Edit</a></td>
        <td><a asp-action="DeleteStaff" asp-controller="Staff" asp-route-id="@item.Id">Delete</a></td>
    </tr>
        }
    </table>
</body>