@model TrainingTask.Models.TaskViewModel

@{
    ViewData["Title"] = "Edit Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var projects = TempData["EditProjects"];
}

<h2>Edit Task</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Task" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.ProjectId, ViewBag.Projects as SelectList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="TaskTime" class="control-label"></label>
                <input asp-for="TaskTime" class="form-control" />
                <span asp-validation-for="TaskTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <input asp-for="DateOfStart" class="form-control" />
                <span asp-validation-for="DateOfStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.EmployeeTasks.Count != 0)
                {
                    List<EmployeeViewModel> employeeFromVB = ViewBag.Employee;
                    List<EmployeeViewModel> employees = new List<EmployeeViewModel>();
                    foreach (var task in Model.EmployeeTasks)
                    {
                        employees.Add(task.Employee);
                    }
                        @foreach (var employee in employeeFromVB)
                        {
                            <input type="checkbox" name="selectedEmployee" value="@employee.Id" 
                                   @(employees.Contains(employee) ? "checked=\"checked\"" : "") />@employee.Name <br />
                        }
                }
                else
                {
                    @foreach (var employee in ViewBag.Employee)
                    {
                        <input type="checkbox" name="selectedEmployee" value="@employee.Id") />@employee.Name <br />
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="DateOfEnd" class="control-label"></label>
                <input asp-for="DateOfEnd" class="form-control" />
                <span asp-validation-for="DateOfEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeStatus" class="control-label"></label>
                <select asp-for="TypeStatus" asp-items="Html.GetEnumSelectList<Core.Enum.Status>()" class="form-control"></select>
                <span asp-validation-for="TypeStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Task">Back to List</a>
</div>

