@model TrainingTask.Models.EmployeeViewModel

@{
    ViewData["Title"] = Model.Name + " Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Details"  asp-controller="Employee" asp-route-id="@Model.Id">
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Surname</td>
            <td>SecondName</td>
            <td>Position</td>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Surname</td>
            <td>@Model.SecondName</td>
            <td>@Model.Position</td>
        </tr>
    </table>
</form>
<div>
    <a asp-action="Index" asp-controller="Employee">Back to List</a>
</div>